body{
    background-color: rgb(249, 194, 194);
    color: rgb(98, 92, 92);
}
h1,h4{
    text-align: center;
    /* position: relative; */
}
img{
    border-radius:102px;
    /* padding: 20px; */
    /* margin: 11px; */
}
#flex{
    display: flex;
    justify-content: space-around;
}
#bas{
    display: flex;
    justify-content: space-around;
}
#data{
    display: flex;
    justify-content: space-around;
}
/* #belt{
    border-radius: 10rem;
} */
@media (max-width:1100px) {
    #flex{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: aquamarine;
        border-radius: 8rem;
        margin: 1rem;
    
    
    }
    
}
@media (max-width:1100px) {
    #bas{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: coral;
        border-radius: 8rem;
        margin: 1rem;
        
    }
    
}
@media (max-width:1100px) {
    #data{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: cornflowerblue;
        border-radius: 8rem;
        margin: 1rem;

    }
    
}
@media (max-width:1100px) {
    #cap{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #sunglasses{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #mask{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #belt{
        margin-top:2rem; 
        border-radius: 11rem;
    }
    
}
@media (max-width:1100px) {
    #basleet{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #formalshoes{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #sportsshoes{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #jacket{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #shirt{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #jeans{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #formalshirt{
        margin-top:2rem; 
    }
    
}
@media (max-width:1100px) {
    #formalpants{
        margin-top:2rem; 
    }
    
}
 